<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div class="errors">
      <h3><%= pluralize(@post.errors.count, "error") %> prevented this post from saving.</h3>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :title, placeholder: "Title" %>
  
  <%= f.label "published", :published %>
  <%= f.check_box :published %>

  <%= f.text_field :description, placeholder: "description" %>

  <%= f.text_area :body, placeholder: "Body" %>


  <%= f.submit %>
<% end %>