<% content_for :head do %>
  <meta name="description" content="hello world">
<% end %>

<h2 class="title">
  <%= @post.title %>
</h2>

<p class="date">
  Submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.first_name %>.
</p>
<p>
  <% if user_signed_in? && current_user.is_admin %>
    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>

<p class="body">
  <%= markdown(@post.body) %>
</p>